<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car resale value prediction</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/icons/favicon.ico">
  </head>
  <body>
    <div class="main">
      <nav>
      </nav>
        <div>
          <h1>Car resale value Prediction</h1>
          <p>Find the best car resale value using our advanced ML technology</p>
          <a href="">Predict value for your car</a>
        </div>
    </div>
    
  </body>
</html>
