<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car resale value prediction</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/icons/favicon.ico">
    <style>
      .button {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="main">
        <div class="content">
          <h1>Car resale value Prediction</h1>
          <p>Find the best car resale value using our advanced ML technology</p>
          <div class="button">
            <a href="./predict_page">Predict value for your car</a>
          </div>
        </div>
    </div>
    
  </body>
</html>
